<div class="container">
<div class="jumbotron">
<p class="subtitle">Genuine Volvo Parts</p>
<h1>Parts that take you further</h1>
<p >Our parts are different. They’re tested rigorously. They fit perfectly. Perform exceptionally. And interact flawlessly with the other components in your truck. Most importantly, they’re Volvo quality.</p>

<button class="btn btn-warning" ng-click="main.partsCatalogue();"><span class="glyphicon glyphicon-th-list"></span> &nbsp;Visit Parts Catalogue </button>
</div>
</div>
<br>

